~*
.*history
.cache
.zcompcache/
.zcompdump*
.zdirs
.zsh_sessions/
*.bak
*.local
*.local.zsh
*.zwc
*.zwc.old
*history
foo.*

# plugins
.external/
custom/
.zplugins/
.zsh_plugins.zsh

# frameworks
.oh-my-zsh/
.ohmyzsh/
.omz/
.zprezto-contrib/
.zprezto/
.zsh_custom/
